<html>
<head>
<title>activity_sign_in.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_sign_in.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@drawable/background&quot;</span>
    <span class="s1">app:passwordToggleEnabled</span><span class="s2">=&quot;true&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.SignIn&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/helveticanowtextextmedium&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Welcome!&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffffff&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/helveticanowtextextmedium&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Login with your exsisting credentails&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#6E85A7&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/textView&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/helveticanowtextextregular&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Username&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/textView2&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/text_sign_up&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/helveticanowtextextmedium&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Sign up&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#078BD4&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;@+id/textView3&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@+id/textView3&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/editTextUserName&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;45dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/shape&quot;</span>
        <span class="s1">android:drawableLeft</span><span class="s2">=&quot;@drawable/ic_person_black_24dp&quot;</span>
        <span class="s1">android:drawablePadding</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:ems</span><span class="s2">=&quot;10&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/helveticanowtextextmedium&quot;</span>
        <span class="s1">android:maxLength</span><span class="s2">=&quot;15&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Enter Username&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;textPersonName&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:singleLine</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#6D6868&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.0&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/textView3&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView5&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/helveticanowtextextregular&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Password&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/editTextUserName&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/editTextPassword&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;45dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/shape&quot;</span>
        <span class="s1">android:drawableLeft</span><span class="s2">=&quot;@drawable/ic_vpn_key_black_24dp&quot;</span>
        <span class="s1">android:drawablePadding</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:ems</span><span class="s2">=&quot;10&quot;</span>
        <span class="s1">android:maxLength</span><span class="s2">=&quot;15&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/helveticanowtextextmedium&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Enter Password&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;textPassword&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:singleLine</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#6D6868&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;1.0&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/textView5&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textForgotPassword&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/helveticanowtextextmedium&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Forgot Password?&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/editTextPassword&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;View</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/view&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;1dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;120dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#979797&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/textView7&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.5&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/btnSignIn1&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/textForgotPassword&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;View</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/view2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;1dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#979797&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;@+id/textView7&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.5&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/textView7&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@+id/textView7&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView7&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;OR&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;@+id/view&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/view2&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.5&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/view&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@+id/view&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnSignIn1&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;45dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/button_shape&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;textCapSentences&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Sign In&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s2">=&quot;@+id/textView7&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/editTextPassword&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/editTextPassword&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView14&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/helveticanowtextextmedium&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;version 1&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#F80606&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@+id/btnLoginFacebook&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/btnSignInGoogle&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/btnSignInGoogle&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;com.facebook.login.widget.LoginButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnLoginFacebook&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_horizontal&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;33dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;4dp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@+id/btnSignIn1&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/textView7&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingClass,MissingConstraints&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;com.google.android.gms.common.SignInButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnSignInGoogle&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;120dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/btnLoginFacebook&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.162&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/btnSignIn1&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/textView7&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot; </span><span class="s0">/&gt;</span>


<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>