<html>
<head>
<title>app_bar_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
app_bar_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.coordinatorlayout.widget.CoordinatorLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.Home&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;com.google.android.material.appbar.AppBarLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:theme</span><span class="s2">=&quot;@style/AppTheme.AppBarOverlay&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;androidx.appcompat.widget.Toolbar</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/toolbar&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;?attr/actionBarSize&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;?attr/colorPrimary&quot;</span>
            <span class="s1">app:popupTheme</span><span class="s2">=&quot;@style/AppTheme.PopupOverlay&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/com.google.android.material.appbar.AppBarLayout&gt;</span>

    <span class="s0">&lt;include </span><span class="s1">layout</span><span class="s2">=&quot;@layout/content_main&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;com.google.android.material.floatingactionbutton.FloatingActionButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/fab&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;bottom|end&quot;</span>
        <span class="s1">android:layout_margin</span><span class="s2">=&quot;@dimen/fab_margin&quot;</span>
        <span class="s1">android:backgroundTint</span><span class="s2">=&quot;@android:color/white&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/ic_baseline_shopping_cart_24&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/androidx.coordinatorlayout.widget.CoordinatorLayout&gt;</span></pre>
</body>
</html>