<html>
<head>
<title>content_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
content_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">app:layout_behavior</span><span class="s2">=&quot;@string/appbar_scrolling_view_behavior&quot;</span>
    <span class="s1">tools:showIn</span><span class="s2">=&quot;@layout/app_bar_main&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;fragment</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/nav_host_fragment&quot;</span>
        <span class="s1">android:name</span><span class="s2">=&quot;androidx.navigation.fragment.NavHostFragment&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">app:defaultNavHost</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">app:layout_constraintLeft_toLeftOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintRight_toRightOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:navGraph</span><span class="s2">=&quot;@navigation/mobile_navigation&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.recyclerview.widget.RecyclerView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/recycler_menu&quot;</span>
        <span class="s1">android:scrollbars</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;/androidx.recyclerview.widget.RecyclerView&gt;</span>
<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>