<html>
<head>
<title>nav_header_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
nav_header_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;@dimen/nav_header_height&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@color/overlayBackground&quot;</span>
    <span class="s1">android:gravity</span><span class="s2">=&quot;bottom&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">android:paddingLeft</span><span class="s2">=&quot;@dimen/activity_horizontal_margin&quot;</span>
    <span class="s1">android:paddingTop</span><span class="s2">=&quot;@dimen/activity_vertical_margin&quot;</span>
    <span class="s1">android:paddingRight</span><span class="s2">=&quot;@dimen/activity_horizontal_margin&quot;</span>
    <span class="s1">android:paddingBottom</span><span class="s2">=&quot;@dimen/activity_vertical_margin&quot;</span>
    <span class="s1">android:theme</span><span class="s2">=&quot;@style/ThemeOverlay.AppCompat.Dark&quot;</span><span class="s0">&gt;</span>



    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/txtFullName&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:paddingTop</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;@string/peter&quot;</span>
        <span class="s1">android:textAppearance</span><span class="s2">=&quot;@style/TextAppearance.AppCompat.Body1&quot; </span><span class="s0">/&gt;</span>


<span class="s0">&lt;/LinearLayout&gt;</span></pre>
</body>
</html>